body{
	color: #eeeeee;
	/*background-color: #4f475f;*/
	background-color: #291934;
	cursor: url('../figures/cursor.png') 15 15, auto;
}
body.impress-mouse-timeout div#impress-toolbar {
	display: none;
}
::selection {
	background: #72d56a;
	color: black;
}

h1{
	font-family: sans-serif;
	font-size: 40pt;
}
a{
	color: #72d56a;
	background-color: transparent;
	text-decoration: none;
}
.step {
	opacity: 1;
	transition: opacity 1s;
}
.step.active {
	  opacity: 1
}
.box{
	/*display: block;*/
	width: 1000px;
}
.ghostbox{
	/*display: block;*/
	width: 1000px;
	opacity: 0;
}

.appearbox{
	width: 1000px;
}
.appearbox.future{
	opacity:0;
}
.disappearbox{
	width: 1000px;
}
.disappearbox.past{
	opacity:0;
}


.test{
	/*display: block;*/
	margin: 0;
	width: 100%;
}
.right{
	width: 200px;
	border-radius: 20px;
	float: right;
	margin-right: 10px;
}
.smallimg{
	width: 100px;
	float: right;
	margin-right: 100px;
}
.bottom{
	position: absolute;
	bottom: 0px;
}
.fullscreen{
	width: 1000px;
	border-radius: 0px;
	float: left;
	margin-right: 0px;
}
table, tr, th, td{
	border-collapse: collapse;
	border: 1px solid;
	padding-right:30px;
	padding-left:30px;
	line-height: 0px;
	font-size: 25pt;
}
.noborder{
	border: 0px solid;
	padding-left:0px;
	line-height: 100px;

}
p{
	font-family: sans-serif;
	font-size: 25pt;
}
.paper{
	float: right;
	font-size: 15pt;
}
span{
	font-family: sans-serif;
	font-size: 25pt;
}
ul{
	font-family: sans-serif;
	font-size: 25pt;

}
img{
	border-radius: 20px;
	float: left;
	margin-right: 10px;
}
.standard{
	width: 800px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.background{
	width: 15000px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.testpic{
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.rectangular{
	width: 200px;
	border-radius: 0px;
	float: left;
	margin-right: 0px;
}
.smallerleft{
	width: 45%;
	border-radius: 0px;
	float: left;
	margin-right: 0px;
}
.smallerright{
	width: 45%;
	border-radius: 0px;
	float: right;
	margin-right: 0px;
}
.center{
	width: 50%;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
}
.inverted{
	filter: invert(1);
	height: 30px;
	width: 700px;
	border-radius: 0px;
}
